// Colors

$c-primary: #b61984;
$c0-black: #000;
$c1-black: #181818;
$c0-white: #fff;
$c0-purple: #dcd1f0;

$c0-border: #0000001a;
$c1-border: #dbdbdb;
$c2-border: #b31b8b;

$c0-text: #333;

// Height
$header-height: 8rem;
$header-height-mobile: 4.8rem;

// Width
$header-logo-width: 8rem;
$header-logo-width-mobile: 4.8rem;

// Font size
$fs-sm-s: 1.22rem;
$fs-sm: 1.4rem;
$fs-sm-l: 1.46rem;
$fs-base: 1.6rem;
$fs-2xl: 2rem;
$fs-2xl-2: 2.6rem;
$fs-3xl: 3rem;
$fs-4xl: 4rem;
$fs-5xl: 5rem;
$fs-5xl-2: 5.6rem;

// Font weight
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

// screen size

$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1023px;
$pc-min: 1024px;
